*{
    padding: 0;
    margin: 0;
}
.nav0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
    position:sticky;
}
.h10{
    color: white;
    font-size: xx-large;
}
.a0{
    padding:5px 5px;
    text-decoration: none;
    color:white;
}
.a0:hover{
    color: deeppink;
}
.ul0{
    color:white
}
.a1{
    padding: 15px;
    color: white;
    padding-left: 50px;
    text-decoration: none;
    
}
.hide{
    background-color: black; 
    display:none; 
}
.a1:hover{
    color: white; 
}
.p0{
    padding: 3px;
    font-size: xx-large;
    display: none;
    color:white;
}
.p0:hover{
    color: deeppink;
    cursor: pointer;
}
.store{
    color: white;
    font-size: xx-large;
}
.all{
    background-image: url(img/clouds-rock-city-waterfall-georgia-usa-tennessee-lookout-mountain-nature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(95, 94, 94);
    background-blend-mode: lighten;
    margin: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;  
}
.para1{
    flex-wrap: wrap;
}

.SS1{
    
    height: 0vh;
    margin: 15px;
    color: violet;
    display: inline;
}
.name1,.para1{
    color:black;
}
.img1{
    box-shadow: rgba(0, 0, 0, 1.24) 0px 3px 8px;
    border-radius: 20px;
    border-top: 100px;
    margin: 15px;
}
.special{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.s1{
    border: black 2px solid;
    padding: 20px;
    display: inline-block;
    width: 220px;
}
.img2{
    border-radius: 50%;
    margin: 20px;
}
.p1{

    text-align: center;
    flex-wrap: wrap;
}
.feedback{
    padding-top: 5%;
    text-align: center;
    background-image: url(img/1284437.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:30%;
    color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 1.24) 0px 3px 8px;
}
.another1{
    height: 30%;
}
.h31{
    padding-top:20px;
}
.w1{
    padding: 3px;
    margin: 20px;
}
.w1:hover{
    cursor: pointer;
}
.i1{
    border-radius: 30px;
    padding: 5px;
    width: 15%;
}
.i2{
    padding-bottom: 20px;
    width: 20%;
}
.hi1{
    display: flex;
    position: relative;
}
.hi2{
    display: none;
    position: relative;
}
.hi3{
    display: none;
    position: relative;
}
.next{
    padding: 10px;
    margin-right: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}
.next:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.next1{
    padding: 10px;
    margin-right: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}
.next1:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.next2{
    padding: 10px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}

.next2:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.left1{
    padding: 10px;
    margin-left: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}
.left1:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.left2{
    padding: 10px;
    margin-left: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}
.left2:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.left3{
    padding: 10px;
    margin-left: 3%;
    margin-top: 10%;
    height: 20%;
    border: solid #000;
}
.left3:hover{
    cursor: pointer;
    background-color: goldenrod;
}
.hp1{
    display: none;
}
.hp2{
    display: none;
}
.hp3{
    display: none;
}
.bottom{
    height: auto;
    color: white;
    background-color: #000;
}
.bottom1{
    padding: 10px;
}
.h{
    text-align: center;
}
.b{
    text-align: center;
    padding: 25px;
    font-size: 16px;
}
.ba{
    text-align: center;
    font-size: 10px; 
    padding:0 0 10px 10px;
}
.b1{
    text-align: center;
    padding: 3px;
}
.ba1{
    font-size: 13px; 
    text-align: center;
    padding: 3px;
}

@media screen and (max-width:600px) {
    .nav0{
        width: 132.6%;
    }
    .all{
        background-image: url(img/OIP\ \(3\).jpg);
        height: 150vh;
        width: 90vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgb(95, 94, 94);
        background-blend-mode: lighten;
    }
    .hp1{
        display: block;
    }
    .hp2{
        display: block;
    }
    .hp3{
        display: block;
    }
    button{
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
    }
    .phonee1{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phonee1:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .phonee2{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phonee2:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .phonee3{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phonee3:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .phoneee1{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phoneee1:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .phoneee2{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phoneee2:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .phoneee3{
        padding: 10px;
        margin-left: 3%;
        margin-top: 10%;
        height: 20%;
        border: solid #000;
    }
    .phoneee3:hover{
        cursor: pointer;
        background-color: goldenrod;
    }
    .p0{
        display: block;
    }
    .topic{
        display: none;
    }
    .ul0{
        display: none;
    }
    .store{
        color: white;
    }
    .hi1{
        display: none;
        padding-top: 20%;
    }
    .hi2{
        display: none;
        padding-top: 20%;
    }
    .hi3{
        display: none;
        padding-top: 100%;
    }
    .hp1{
        display: block;
    }
    .hp2{
        display: none;
    }
    .hp3{
        display: none;
    }
    .bottom{
        height: auto;
        width: 132.6%;
    }
    .bottom1{
        width: 132.6%;
    }
    .ba{
        display: none;
    }
    .b{
        text-align: center;
        padding: 25px;
    }
    .i1{
        width: 200px;
    }
    .i2{
        width: 200px;
    }
    .feedback{
        width: 132.6%;
    }
    .s1{
        margin-right: 150px;
    }
}